@tailwind base;
@tailwind components;
@tailwind utilities;


/* resources/css/app.css */
@layer utilities {
    .animation-delay-200 {
        animation-delay: 0.2s;
    }
    .animation-delay-400 {
        animation-delay: 0.4s;
    }
}